:root {
  --color-bg: #262727;
  --color-fg: #dddddd;
  --color-link: #dddddd;
  --color-link-visited: #dddddd;
  --color-link-hover: #f5d1c8;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "VictorMono Nerd Font";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 80px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
}

.right-container {
  grid-area: right;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
li {
  font-size: 40px;
  list-style-type: none;
}
a:link {
  text-decoration: none;
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover {
  color: var(--color-link-hover);
}
