:root {
  --color-bg: #141515;
  --color-bg2: #262727;
  --color-fg: #dddddd;
  --color-link: #dddddd;
  --color-link-visited: #dddddd;
  --color-link-hover: #f5d1c8;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "VictorMono Nerd Font";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". left right .";
  column-gap: 10px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
}

.left-container {
  grid-area: left;
}
.image {
  background-color: var(--color-bg2);
  padding: 10px;
  border-radius: 10px;
}


.right-container {
  grid-area: right;
}
.links {
  background-color: var(--color-bg2);
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  font-size: 20px;
  list-style-type: none;
}
a:link {
  text-decoration: none;
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover {
  color: var(--color-link-hover);
}
